
h2{
    font-weight: 500;
    padding-bottom: 10px;
    padding-top: 5px;
    font-size: 18px;
}
.table {
    
    button{
        padding: 2px 5px;
        cursor: pointer;
    }
    width: 70%;
    overflow-x: auto;
   
    border-collapse: collapse;
    margin: 30px auto;
   
    table {
        border-collapse: collapse;
      width: 100%;
      font-size: 1rem;
      border: 1px solid rgba(0, 0, 0, 0.552);
  
      thead {
       
        border-bottom: 2px solid rgba(0, 0, 0, 0.444);
      background: #ffffffc8;
      }
      tbody{
        background: #f8fbffaa;
      }
  
      th {
       font-weight: 500;
      
      }
  
      th,
      td {
        border-collapse: collapse;
        vertical-align: top;
        text-align: left;
        padding: 8px;
        &.icons {
          > * {
            margin-right: 5px;
            
          }
        }
      }
      td{
        font-size: 15px;
      }
  
      tr {
        border-bottom: 1px solid #939393;
      
       
      }
  
      
     
    }
  }
  

  .lod{
    width: 70px;
    display: flex;
    justify-content: center;

    margin: 50px auto;
  }

  .no{
    text-align: center;
    padding-top: 20px;
  }

  @media (max-width: 734px){
    .table{
      width: 100%;
      margin: 30px 0px;
      table{
        th{
          font-size: 14px;
        }
        td{
          font-size: 12px;
        }
        button{
          padding: 1px 4px;
          font-size: 12px;
      }
      }
      
    }
  }