.background{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #00000057;
    z-index: 9;
}


.userModel{
    position: fixed;
    width: 500px;
    background: #ffffff;
    border-radius: 10px;
    padding: 10px;
    z-index: 999;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    img{
        width: 80px;

    }
    button{
        padding: 2px 10px;
        font-size: 15px;
        margin-top: 8px;
        cursor: pointer;
        background: #00000000;
        border-radius: 5px;
    }
}

@media (max-width: 734px){
    .background{
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: #00000000;
        z-index: 9;
    }

    .userModel{
        width: 300px;
        top: 20%;
        border: 1px solid rgba(0, 0, 0, 0.295);
        box-shadow: 0px 10px 45px -3px rgba(0, 0, 0, 0.401);
    }
}