.permission{
    width: 300px;
    margin: 20px auto;
    height: 85vh;

}
.back{
    padding: 5px;
    margin-top: 5px;
}

.checkout-widths{
  height: 85vh;
}

.cashondelivery{
  width: 40%;
  justify-content: center;
  text-align: center;
  margin: 200px auto;
  margin-bottom: 420px;

}
.payCash{
  font-size: 18px;

}
.btnCash{
  margin: 5px;
  padding: 4px 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s;
  outline: none;
  color: rgb(6, 147, 6);
  background: rgb(255, 249, 249);
  border: 0.2px solid rgb(0, 158, 24);
  border-radius: 3px;
}
.btnCash:hover{
  color: rgb(255, 255, 255);
  background: rgb(3, 157, 34);
  border: 0.2px solid rgb(0, 158, 24);

}
.showflex{
  display: flex;
  flex-direction: column;
 
}
